body {
  background-color: #131418;
}

.header {
  position: fixed;
  padding:8px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #475569;
  color: #F9FAFB;
  font-weight: 800;
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: 9999;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--white-color);
  text-decoration: none;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  font-size: 22px;
  font-weight: 800;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__toggle {
  position: relative;
  width: 25px;
  height: 25px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 30px;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (width < 1280px) {
  .nav_container {
    flex-direction: column;
    background-color: #475569;
    border-radius: 64px;
    padding-inline: 25px;
    padding-block: 17px;
  }

  .nav__menu {
    position: absolute;
    left: 100%;
    top: 68px;
    width: 100%;
    height: 100dvh;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: left .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 100%;
    height: 100dvh;
    background-color: #475569;
    padding-block: 20px;
  }
}

.nav__link {
  inline-size: 100%;
  font-size: 24px;
  text-decoration: none;
  color: #F9FAFB;
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  opacity: 0.6;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 68px;
  left: 0;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

.main {
  padding-block-start: 76px;
  color: #F9FAFB;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-block: 40px;
  padding-inline: 20px;
  text-align: center;
}

.section__header {
  font-size: 40px;
  font-weight: 800;
}

.section__paragraph {
  font-size: 24px;
}

.main__section__link-btn {
  font-size: 18px;
  border-radius: 20px;
  padding-block: 20px;
  padding-inline: 32px;
  background-color: #475569;
  text-decoration: none;
}

.main__section-img {
  width: 100%;
  height: 320px;
}

.section__list-article-item {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 22px;
  font-weight: 700;
}

.border-block-start {
  border-block-start: 2px solid #F9FAFB;
}

.border-block-end {
  border-block-end: 2px solid #F9FAFB;
}

.section__list-article-item-paragraph {
  text-align:left;
  font-size: 18px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  padding-block: 15px;
  gap: 20px;
}

.contacts__list-item-article-link {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  text-align: start;
  column-gap: 20px;
  row-gap: 5px;
}

svg {
  width: 32px;
  display: flex;
  grid-row: span 2;
}

.contacts__list-item-article-link-header {
  font-size: 18px;
  font-weight: 600;
}

.contacts__list-item-article-link-item {
  font-size: 14px;
  grid-column-start: 2;
  font-weight: 500;
 font-style: normal;
}
